[github]
    name = Oemer Genc
    email = oemergenc@gmail.com
[stash]
    name = Oemer Genc
    email = oemer.genc@rewe-digital.com
[init]
    templatedir = ~/.git-templates
[user]
    useConfigOnly = true
	name = Oemer Genc
	email = oemergenc@gmail.com

[merge]
    tool = intellij
[mergetool "intellij"]
    cmd = /usr/local/bin/idea merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
    trustExitCode = true

[diff]
    tool = intellij
[difftool "intellij"]
    cmd = /usr/local/bin/idea diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
[core]
	excludesfile = /Users/omer.genc/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
