set relativenumber
set showmode
set surround
set commentary
set ideajoin

noremap <Up> <NOP>
noremap <Down> <NOP>
noremap <Left> <NOP>
noremap <Right> <NOP>

noremap w [w
noremap b ]b

imap <C-n> <ESC>:action HippieCompletion<CR>a
imap <C-p> <ESC>:action HippieBackwardCompletion<CR>a

imap jj <Esc>

let mapleader = " "
set easymotion
map <leader>a :action $SelectAll<CR>
map <leader>b :action GotoDeclaration<CR>
map <leader>c :action $Copy<CR>
map <leader>d :action EditorDuplicate<CR>
map <leader>e :action RecentFiles<CR>
" map <leader>f :action Find<CR>
" map <leader>g :action GotoLine<CR>
map <leader>h :action TypeHierarchy<CR>
map <leader>i :action ImplementMethods<CR>
map <leader>m :action EditorScrollToCenter<CR>
map <leader>n :action FileChooser.NewFolder<CR>
map <leader>o :action OverrideMethods<CR>
map <leader>p :action ParameterInfo<CR>
map <leader>q :action GuiDesigner.QuickJavadoc<CR>
" map <leader>r :action Replace<CR>
map <leader>s :action SaveAll<CR>
map <leader>t :action Vcs.UpdateProject<CR>
map <leader>u :action GotoSuperMethod<CR>
map <leader>v :action $Paste<CR>
map <leader>w :action EditorSelectWord<CR>
map <leader>x :action $Cut<CR>
map <leader>y :action EditorDeleteLine<CR>
map <leader>[ :action EditorCodeBlockStart<CR>
map <leader>] :action EditorCodeBlockEnd<CR>
map <leader>dd :action Debug<CR>
map <leader>cd :action ChooseDebugConfiguration<CR>
map <leader>rr :action Run<CR>
map <leader>cr :action ChooseRunConfiguration<CR>
map <leader>r :action RenameElement<CR>
map <leader>g :action Generate<CR>

nnoremap ,e :action SearchEverywhere<CR>
nnoremap ,g :action FindInPath<CR>
nnoremap ,s :action FileStructurePopup<CR>

nnoremap gs :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gb :action JumpToLastChange<CR>

nnoremap U :action FindUsages<CR>
nnoremap K :action RenameElement<CR>
nnoremap L $
nnoremap H ^
vnoremap L $
vnoremap H ^

map <A-j> :action MoveLineDown<CR>
map <A-k> :action MoveLineUp<CR>

" nmap <leader>jc :action KJumpAction<cr>
" nmap <leader>jw :action KJumpAction.Word0<cr>
" nmap <leader>js :action KJumpAction.Word1<cr>
" nmap <leader>jl :action KJumpAction.Line<cr>

" acejump config
" nmap <leader>jc :action AceAction<CR>
" nmap <leader>jw :action AceTargetAction<CR>
" nmap <leader>jl :action AceLineAction<CR>

map <leader><leader>l <Plug>(easymotion-lineforward)
map <leader><leader>j <Plug>(easymotion-j)
map <leader><leader>k <Plug>(easymotion-k)
map <leader><leader>h <Plug>(easymotion-linebackward)
map <leader><leader>q <Plug>(easymotion-jumptoanywhere)
map <leader><leader>w <Plug>(easymotion-bd-w)

